## Atividade 02

Vamos praticar a criação de várias expectativas para um dataset público. 
Para isso, vamos utilizar o dataset Titanic disponível no Kaggle. 
Este dataset contém informações sobre os passageiros do navio Titanic, incluindo informações como nome, idade, sexo, classe da cabine e se sobreviveram ou não ao naufrágio.

### 1. Importando os dados

1.1 Crie um objeto DataContext

In [12]:
import pandas as pd

In [3]:
import great_expectations as gx
context = gx.get_context()

1.2 Salve o Contexto de Dados no Sistema de Arquivos

In [4]:
context.convert_to_file_context()

Successfully migrated to FileDataContext!

{
  "anonymous_usage_statistics": {
    "explicit_url": false,
    "usage_statistics_url": "https://stats.greatexpectations.io/great_expectations/v1/usage_statistics",
    "data_context_id": "22cad5ed-f743-411a-91bd-69775f9b16a0",
    "enabled": true,
    "explicit_id": true
  },
  "checkpoint_store_name": "checkpoint_store",
  "config_variables_file_path": "uncommitted/config_variables.yml",
  "config_version": 3.0,
  "data_docs_sites": {
    "local_site": {
      "class_name": "SiteBuilder",
      "show_how_to_buttons": true,
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted\\data_docs\\local_site"
      },
      "site_index_builder": {
        "class_name": "DefaultSiteIndexBuilder"
      }
    }
  },
  "datasources": {},
  "evaluation_parameter_store_name": "evaluation_parameter_store",
  "expectations_store_name": "expectations_store",
  "include_rendered_content": {
    "expectation_validation_result": false,
    "globally": false,
    "expectation_suite": false
  },
  "plugins_directory": "plugins/",
  "stores": {
    "expectations_store": {
      "class_name": "ExpectationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "expectations/"
      }
    },
    "validations_store": {
      "class_name": "ValidationsStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "base_directory": "uncommitted/validations/"
      }
    },
    "evaluation_parameter_store": {
      "class_name": "EvaluationParameterStore"
    },
    "checkpoint_store": {
      "class_name": "CheckpointStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "checkpoints/"
      }
    },
    "profiler_store": {
      "class_name": "ProfilerStore",
      "store_backend": {
        "class_name": "TupleFilesystemStoreBackend",
        "suppress_store_backend_id": true,
        "base_directory": "profilers/"
      }
    }
  },
  "validations_store_name": "validations_store"
}

1.3 Crie um validator e carregue o dataset Titanic: https://storage.googleapis.com/tf-datasets/titanic/train.csv

In [5]:
path = 'data/train.csv'

In [6]:
validator = context.sources.pandas_default.read_csv(path)

In [13]:
df = pd.read_csv(path)
names = list(df)

### 2. Definindo expectativas

Agora que temos o dataframe, podemos começar a criar expectativas sobre os dados.

2.1 Crie uma expectativa que defina que as colunas do dataframe estão na ordem correta.

In [11]:
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [14]:
validator.expect_table_columns_to_match_ordered_list(names)

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": [
      "survived",
      "sex",
      "age",
      "n_siblings_spouses",
      "parch",
      "fare",
      "class",
      "deck",
      "embark_town",
      "alone"
    ]
  },
  "success": true
}

2.2 Agora crie uma expectativa para verificar se os valores da coluna "Survived" só podem ser 0 ou 1.

In [16]:
validator.expect_column_distinct_values_to_equal_set(column = "survived", value_set = [0,1])

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": [
      0,
      1
    ],
    "details": {
      "value_counts": [
        {
          "value": 0,
          "count": 384
        },
        {
          "value": 1,
          "count": 243
        }
      ]
    }
  },
  "success": true
}

2.3 Defina que a coluna "Pclass" só pode ter valores de 1 a 3.

In [19]:
validator.expect_column_values_to_be_in_set(column = 'class', value_set = ['First', 'Second', "Third"] )

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "success": true
}

2.4 Crie expectativas para verificar se as colunas "Survived" e "Pclass" existem no dataframe.

In [28]:
validator.expect_table_columns_to_match_set(column_set = ['survived', 'class'], exact_match = 0)

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "observed_value": [
      "age",
      "alone",
      "class",
      "deck",
      "embark_town",
      "fare",
      "n_siblings_spouses",
      "parch",
      "sex",
      "survived"
    ],
    "details": {
      "mismatched": {
        "unexpected": [
          "age",
          "alone",
          "deck",
          "embark_town",
          "fare",
          "n_siblings_spouses",
          "parch",
          "sex"
        ]
      }
    }
  },
  "success": true
}

2.5 Verifique se os valores das colunas "Age" e "Fare" não são nulos e se estão dentro de um intervalo razoável (0 a 100 para "Age" w 0 a 100 para "Fare".

In [33]:
validator.expect_column_values_to_not_be_null(column = 'age')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "success": true
}

In [36]:
validator.expect_column_values_to_not_be_null(column = 'fare')

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "success": true
}

In [35]:
validator.expect_column_values_to_be_between(column = "age", min_value = 0, max_value = 100)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "success": true
}

In [37]:
validator.expect_column_values_to_be_between(column = "fare", min_value = 0, max_value = 100)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 43,
    "unexpected_percent": 6.8580542264752795,
    "partial_unexpected_list": [
      263.0,
      146.5208,
      263.0,
      247.5208,
      146.5208,
      113.275,
      512.3292,
      153.4625,
      135.6333,
      247.5208,
      110.8833,
      108.9,
      262.375,
      164.8667,
      134.5,
      135.6333,
      153.4625,
      133.65,
      211.5,
      227.525
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 6.8580542264752795,
    "unexpected_percent_nonmissing": 6.8580542264752795
  },
  "success": false
}

2.6 Define que a coluna "Sex" só pode ter os valores "male" ou "female".

In [29]:
validator.expect_column_values_to_be_in_set(column = 'sex', value_set = ['male', 'female'])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "result": {
    "element_count": 627,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "success": true
}

### 3. Executando as Expectativas

3.1 Defina um Checkpoint e execute-o para receber os resultados do validator.

In [38]:
checkpoint = gx.checkpoint.SimpleCheckpoint( 
    name="checkpoint_titanic",
    data_context=context,
    validator=validator,
)

In [39]:
checkpoint_result = checkpoint.run()

Calculating Metrics:   0%|          | 0/48 [00:00<?, ?it/s]